<div class="container" class="lobbyDiv">
  <div class="jumbotron" class="lobbyDiv">
		<div id="fascistWinner" ng-show="winner == 'Fascist'" class="text-center">
			<h1>Fascists won!</h1>
		</div>
		<div id="liberalWinner" ng-show="winner == 'Liberal'" class="text-center">
			<h1>Liberals won!</h1>
		</div>
		<div id="roomInfo">
			<h1 class="text-center">Room Code: {{code}}</h1>
			<ul class="unstyled">
				<li ng-repeat="player in players">
					{{player}}
				</li>
			</ul>
		</div>
  </div>
</div>
