<role-modal></role-modal>

<div id="gameDiv">
  <div class='myHeader container mx-auto'>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8 text-center">
        <h1 id="header">{{name}}</h1>
      </div>
      <div class="col">
        <button 
          id="infoButton" 
          type="button" 
          class="btn btn-info pull-right" 
          ng-show="!!me.role"
          ng-click="showRole()"
          >
          <i class="fa fa-info-circle fa-3x"></i>
        </button>
      </div>
    </div>
  </div>
  <ui-view id="uiView"></ui-view>
</div>