<div class="text-center">
  <h2>{{header}}</h2>
</div>
<div>
  <div ng-repeat="choice in choices track by $index">
    <button 
      class="btn btn-default" 
      ng-click="clickChoice(choice)"
      data-toggle="modal" 
      data-target="#confirmModal">
      {{choice}}
    </button>
  </div>
</div>

<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="text-center">
          {{confirmText()}}
        </h2>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="btn-group btn-group-justified">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="clickBack()">
                <i class="fa fa-times fa-3x"></i>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="confirm()">
                <i class="fa fa-thumbs-o-up fa-3x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>