<div ng-repeat="answer in answers" ng-show="!answerClicked">
	<button class="btn btn-default" ng-click="clickAnswer(answer.answer)">
		{{answer.answer}}
	</button>
</div>
<div ng-repeat="answer in answers" ng-show="answerClicked">
	<button class="btn btn-default" ng-click="clickName(answer.name)">
		{{answer.name}}
	</button>
</div>
<div ng-show="answerClicked">
	<button class="btn btn-warning" ng-click="clickBack()">
		<span class="glyphicon glyphicon-arrow-left"></span> Back
	</button>
</div>
